/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HRMR: HRMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 25 1 2 3 4 5 14 15 16 17 26 27 28 29 36 37 38 13 39 40 41>;
            require-prior-idle-ms = <150>;
        };

        HRML: HRML {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 40 41 39 37 36 38>;
            require-prior-idle-ms = <150>;
        };

        smart_period: smart_period {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_PERIOD";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        smart_comma: smart_comma {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_COMMA";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_mark: smart_mark {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_MARK";
            bindings = <&kp EXCL>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_paren: smart_paren {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_PAREN";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_then: smart_then {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_THEN";
            bindings = <&kp LESS_THAN>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_plus_minus: smart_plus_minus {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_PLUS_MINUS";
            bindings = <&kp PLUS>, <&kp MINUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_multi_div: smart_multi_div {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_MULTI_DIV";
            bindings = <&kp ASTERISK>, <&kp SLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_under: smart_under {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_UNDER";
            bindings = <&kp UNDERSCORE>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        smart_thenxx: smart_thenxx {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_THENXX";
            bindings = <&kp>, <&smart_then>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 10 11 18 19 20 21 22 23 30 31 32 33 34 35 40 41 7 8 9 19 20 21 36 37 38 39>;
        };

        smart_bracket: smart_bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_BRACKET";
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_bracketxx: smart_bracketxx {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_BRACKETXX";
            bindings = <&kp>, <&smart_bracket>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 40 41 39 36 37 38>;
        };

        smart_parenxx: smart_parenxx {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_PARENXX";
            bindings = <&kp>, <&smart_paren>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 37 38 36 37>;
        };

        smart_brace: smart_brace {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_BRACE";
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_bracexx: smart_bracexx {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_BRACEXX";
            bindings = <&kp>, <&smart_brace>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 7 8 9 10 19 20 21 36 37 38>;
        };

        smart_equal: smart_equal {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_EQUAL";
            bindings = <&kp KP_EQUAL>, <&kp HASH>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        smart_remain: smart_remain {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_REMAIN";
            bindings = <&kp PERCENT>, <&kp CARET>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        smart_at: smart_at {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_AT";
            bindings = <&kp AT_SIGN>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        smart_tilde: smart_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_TILDE";
            bindings = <&kp TILDE>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        smart_markxx: smart_markxx {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_MARKXX";
            bindings = <&kp>, <&smart_mark>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 25 1 2 3 4 5 14 15 16 17 26 27 28 29 36 37 38 13 39 40 41>;
            require-prior-idle-ms = <150>;
        };

        smart_tildexx: smart_tildexx {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_TILDEXX";
            bindings = <&kp>, <&smart_tilde>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 25 1 2 3 4 5 14 15 16 17 26 27 28 29 36 37 38 13 39 40 41>;
            require-prior-idle-ms = <150>;
        };

        smart_atxx: smart_atxx {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_ATXX";
            bindings = <&kp>, <&smart_at>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 25 1 2 3 4 5 14 15 16 17 26 27 28 29 36 37 38 13 39 40 41>;
            require-prior-idle-ms = <150>;
        };

        smart_and: smart_and {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_AND";
            bindings = <&kp AMPERSAND>, <&kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        TDspace: TDspace {
            compatible = "zmk,behavior-tap-dance";
            label = "TDSPACE";
            #binding-cells = <0>;
            bindings = <&spaceSuperLeft 3 SPACE>, <&kp TAB>;
        };

        spaceSuperLeft: spaceSuperLeft {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACESUPERLEFT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            retro-tap;
            hold-while-undecided;
        };

        superMod: superMod {
            compatible = "zmk,behavior-sticky-key";
            label = "SUPERMOD";
            bindings = <&sk>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };

        superquote: superquote {
            compatible = "zmk,behavior-mod-morph";
            label = "SUPERQUOTE";
            bindings = <&kp DOUBLE_QUOTES>, <&kp SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        superquoteFinal: superquoteFinal {
            compatible = "zmk,behavior-mod-morph";
            label = "SUPERQUOTEFINAL";
            bindings = <&superquote>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        TDshift: TDshift {
            compatible = "zmk,behavior-tap-dance";
            label = "TDSHIFT";
            #binding-cells = <0>;
            bindings = <&superMod LEFT_SHIFT>, <&kt LEFT_SHIFT>;

            tapping-term-ms = <100>;
        };
    };

    combos {
        compatible = "zmk,combos";

        boot_left {
            bindings = <&bootloader>;
            key-positions = <1 2 0>;
            timeout-ms = <20>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <11 10>;
            layers = <0 1 3>;
        };

        s {
            bindings = <&tog 4>;
            key-positions = <>;
            layers = <0 4>;
        };
    };

    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_press>;

            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&kp Q  &kp W  &kp F  &kp P  &kp B                    &none    &none  &kp J                    &kp L  &kp U         &kp Y          &kp BSPC
&kp A  &kp R  &kp S  &kp T  &kp G                    &none    &none  &kp M                    &kp N  &kp E         &kp I          &kp O
&kp Z  &kp X  &kp C  &kp D  &kp V                    &none    &none  &kp K                    &kp H  &smart_comma  &smart_period  &kp ENTER
                     &none  &spaceSuperLeft 3 SPACE  &none    &none  &spaceSuperLeft 3 SPACE  &none
            >;
        };

        symbols_layer {
            bindings = <
&kp DOLLAR  &superquoteFinal   &kp TILDE              &none            &kp HASH                 &none    &none  &kp EXCL                 &kp QUESTION    &kp AMPERSAND  &kp PIPE         &kp BACKSPACE
&kp LT      &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS   &kp LEFT_BRACE   &kp PERCENT              &none    &none  &kp KP_EQUAL             &kp KP_PLUS     &kp KP_MINUS   &kp KP_MULTIPLY  &kp KP_DIVIDE
&kp GT      &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp AT_SIGN              &none    &none  &kp BACKSLASH            &kp UNDERSCORE  &kp COMMA      &kp PERIOD       &kp ENTER
                                                      &none            &spaceSuperLeft 3 SPACE  &none    &none  &spaceSuperLeft 3 SPACE  &none
            >;
        };

        numbers_layer {
            bindings = <
&kp DOLLAR  &kp N7  &kp N8  &kp N9  &kp HASH                 &none    &none  &kp EXCL                 &kp QUESTION    &kp AMPERSAND  &kp PIPE         &kp BACKSPACE
&kp LT      &kp N4  &kp N5  &kp N6  &kp PERCENT              &none    &none  &kp KP_EQUAL             &kp KP_PLUS     &kp KP_MINUS   &kp KP_MULTIPLY  &kp KP_DIVIDE
&kp GT      &kp N1  &kp N2  &kp N3  &kp N0                   &none    &none  &kp BACKSLASH            &kp UNDERSCORE  &kp COMMA      &kp PERIOD       &kp ENTER
                            &none   &spaceSuperLeft 3 SPACE  &none    &none  &spaceSuperLeft 3 SPACE  &none
            >;
        };

        super_layer {
            bindings = <
&kp ESCAPE       &none               &none           &none                 &none               &none    &none  &none  &none  &none  &none  &kp BACKSPACE
&kp TAB          &superMod LEFT_ALT  &kp UP_ARROW    &superMod LEFT_SHIFT  &none               &none    &none  &none  &to 1  &to 2  &none  &none
&superMod LCTRL  &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW       &superMod LEFT_GUI  &none    &none  &none  &none  &none  &none  &kp ENTER
                                                     &none                 &to 0               &none    &none  &to 0  &none
            >;
        };

        wasd {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4     &none    &none  &none  &none  &none  &none  &none
&kp TAB    &kp Q   &kp W   &kp E   &kp R      &none    &none  &none  &none  &none  &none  &none
&kp LCTRL  &kp A   &kp S   &kp D   &kp F      &none    &none  &none  &none  &none  &none  &none
                           &none   &kp SPACE  &none    &none  &none  &none
            >;
        };
    };
};
